# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
.venv/
pip-log.txt
pip-delete-this-directory.txt
dist/
build/
sdist/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*,cover
*.log
.mypy_cache/

# Database
db.sqlite3
*.mysql
*.sql

# Environment variables (Crucial for security)
.env

# Media and Static files
media/
staticfiles/

# VS Code settings
.vscode/

# OS specific files
.DS_Store
Thumbs.db